<title>cle</title>
</head>
<body>
    <div id="page-wrap">
        <h1>Cleffa<small style="color: rgb(95, 95, 95);"> (<a href="index.html"> POKEDEX.</a>) </small></h1>
        <link rel="stylesheet" href="style.css" />
        <link>  
        <img class="centrado" src="images/d3hckqu-f4c0b088-3cb9-4f50-8399-045d1aa4cb65.gif" >
        <dl class="clear"></dl>
            <dl>
            <dl class="clear"></dl>
                <dt>Descripcion</dt>
                    <dd>
                        <p>Los lugareños rumorean que suele 
                            encontrarse en lugares donde han 
                            caído estrellas fugaces.</p>
                    </dd>
    
            <dl class="clear"></dl>
                <dt>Especificaciones</dt>
                    <dd>
                        <h2>ALTURA</h2>
                        <ul>
                            <li>0,3 m</li>
                        </ul> 
                        <h2>CATEGORIA</h2>
                        <ul>
                            <li>Estrella</li>
                        </ul> 
                        <h2>PESO</h2>
                        <ul>
                            <li>3,0 kg</li>
                        </ul> 
                        <h2>HABILIDAD</h2>
                        <ul>
                            <li>Gran Encanto.</li>
                            <li>Muro Magico.</li>
                        </ul> 
                        <h2>SEXO</h2>
                        <ul>
                            <li>Hombre/Mujer</li>
                        </ul> 
                        <H2>DEBILIDAD</H2>
                        <ul>
                            <li>Acero</li>
                            <li>Veneno</li>
                        </ul> 
                    </dd>
                <dl class="clear"></dl>
                <h1>EVOLUCIONES<small style="color: rgb(95, 95, 95);"> (Clefairy, Clefable .) </small></h1>
            <dl class="clear"></dl>
        </div>
   
    <a href="clery.html"><img class="centrado" src="images/035.png" ></a>
    <a href="clefable.html"><img class="izquierdo" src="images/036.png" ></a>
    
</body>
</html>