<title>Clefable</title>
</head>
<body>
    <div id="page-wrap">
        <h1>Clefable<small style="color: rgb(95, 95, 95);"> (<a href="index.html"> POKEDEX.</a>) </small></h1>
        <link rel="stylesheet" href="style.css" />
        <link>  
        <img class="centrado" src="images/Clefable.gif" >
        <dl class="clear"></dl>
            <dl>
            <dl class="clear"></dl>
                <dt>Descripcion</dt>
                    <dd>
                        <p>Este Pokémon de aspecto feérico, raramente visto por los humanos, corre a esconderse en cuanto detecta que hay alguien cerca.</p>
                    </dd>
    
            <dl class="clear"></dl>
                <dt>Especificaciones</dt>
                    <dd>
                        <h2>ALTURA</h2>
                        <ul>
                            <li>1,3 m</li>
                        </ul> 
                        <h2>CATEGORIA</h2>
                        <ul>
                            <li>Hada</li>
                        </ul> 
                        <h2>PESO</h2>
                        <ul>
                            <li>40,0 kg</li>
                        </ul> 
                        <h2>HABILIDAD</h2>
                        <ul>
                            <li>Gran Encanto.</li>
                            <li>Muro Magico.</li>
                        </ul> 
                        <h2>SEXO</h2>
                        <ul>
                            <li>Hombre/Mujer</li>
                        </ul> 
                        <H2>DEBILIDAD</H2>
                        <ul>
                            <li>Acero</li>
                            <li>Veneno</li>
                        </ul> 
                    </dd>
                <dl class="clear"></dl>
                <h1>EVOLUCIONES<small style="color: rgb(95, 95, 95);"> (Clefa, Clefairy .) </small></h1>
            <dl class="clear"></dl>
        </div>
   
    <a href="cle.html"><img class="centrado" src="images/173.png" ></a>
    <a href="clery.html"><img class="izquierdo" src="images/035.png" ></a>
    
</body>
</html>