<title>Clefairy</title>
</head>
<body>
    <div id="page-wrap">
        <h1>Clefairy<small style="color: rgb(95, 95, 95);"> (<a href="index.html"> POKEDEX.</a>) </small></h1>
        <link rel="stylesheet" href="style.css" />
        <link>  
        <img class="centrado" src="images/Clefairy.gif" >
        <dl class="clear"></dl>
            <dl>
            <dl class="clear"></dl>
                <dt>Descripcion</dt>
                    <dd>
                        <p>Se dice que la felicidad llegará a quien vea un grupo de Clefairy bailando a la luz de la luna llena.</p>
                    </dd>
    
            <dl class="clear"></dl>
                <dt>Especificaciones</dt>
                    <dd>
                        <h2>ALTURA</h2>
                        <ul>
                            <li>0,6 m</li>
                        </ul> 
                        <h2>CATEGORIA</h2>
                        <ul>
                            <li>Hada</li>
                        </ul> 
                        <h2>PESO</h2>
                        <ul>
                            <li>7,5 kg</li>
                        </ul> 
                        <h2>HABILIDAD</h2>
                        <ul>
                            <li>Gran Encanto.</li>
                            <li>Muro Magico.</li>
                        </ul> 
                        <h2>SEXO</h2>
                        <ul>
                            <li>Hombre/Mujer</li>
                        </ul> 
                        <H2>DEBILIDAD</H2>
                        <ul>
                            <li>Acero</li>
                            <li>Veneno</li>
                        </ul> 
                    </dd>
                <dl class="clear"></dl>
                <h1>EVOLUCIONES<small style="color: rgb(95, 95, 95);"> (Clefa, Clefable .) </small></h1>
            <dl class="clear"></dl>
        </div>
   
    <a href="cle.html"><img class="centrado" src="images/173.png" ></a>
    <a href="clefable.html"><img class="izquierdo" src="images/036.png" ></a>
    
</body>
</html>