body {
    font: 16px Helvetica, Sans-Serif; 
    line-height: 24px; 
    background-image: url("https://c.wallhere.com/photos/11/5f/Pok_mon_Pok_balls_anime_minimalism_cartoon_video_games_digital_art-1202761.jpg!d");
    background-repeat: repeat-y;
  }
  .menu {
    position: relative;
    top: -15px; left: 205px;
    background: #cd3e3d;
    width: 3em;
    height: 3em;
    border-radius: 5em;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    cursor: pointer;
    border: 1em solid #fdaead;
  }
  .menu:after {
    content: "";
    position: absolute;
    top: 1em;
    left: 1em;
    width: 1em;
    height: 0.2em;
    border-top: 0.6em double #fff;
    border-bottom: 0.2em solid #fff;
  }
  .menu ul {
    list-style: none;
    padding: 0;
  }
  .menu li {
    width: 5em;
    height: 1.4em;
    padding: 0.2em;
    margin-top: 0.2em;
    text-align: center;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    transition: all 1s;
    background: #fdaead;
    opacity: 0;
    z-index: -1;
  }
  .menu:hover li {
    opacity: 1;
  }

  .menu:hover ul::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    display: block;
    left: 50%;
    top: -5.0em;
    border-width: 6.5em;
    border-radius: 0 7.5em 7.5em 0;
    border-left: 0;
    border-style: solid;
    border-color: rgba(0,0,0,0.01);
    z-index: -1;
    cursor: default;
  }
  .menu a {
    color: white;
    text-decoration: none;
    line-height: 1.5em;
  }
  .menu a {
    color: white;
    text-decoration: none;
  }
  .menu ul {
    transform: rotate(180deg) translateY(-2em);
    transition: 1s all;
  }
  .menu:hover ul {
    transform: rotate(0deg) translateY(-1em);
  }
  .menu li:hover {
    background: #cd3e3d;
    z-index: 10;
  }
  
  .menu li:nth-of-type(1) {
    transform: rotate(-90deg);
    position: absolute;
    left: -1.2em;
    top: -4.2em;
  }
  .menu li:nth-of-type(2) {
    transform: rotate(-45deg);
    position: absolute;
    left: 2em;
    top: -3em;
  }
  .menu li:nth-of-type(3) {
    position: absolute;
    left: 3.4em;
    top: 0.3em;
  }
  .menu li:nth-of-type(4) {
    transform: rotate(45deg);
    position: absolute;
    left: 2em;
    top: 3.7em;
  }
  .menu li:nth-of-type(5) {
    transform: rotate(90deg);
    position: absolute;
    left: -1.2em;
    top: 5em;
  }
  .menu li:nth-of-type(6) {
    transform: rotate(-130deg);
    position: absolute;
    left: -4.5em;
    top: -3em;
  }
  .menu li:nth-of-type(7) {
    transform: rotate(130deg);
    position: absolute;
    left: -4em;
    top: 3.5em;
  }
  .menu li:nth-of-type(8) {
    position: absolute;
    left: -6em;
    top: 0.3em;
  }

  .hint {
    text-align: center;
  }
  h1 { margin: 0 0 13px 0; 
    padding: 0 0 13px 0; 
    font-size: 35px; font-weight: bold; 
    letter-spacing: -2px; 
    border-bottom: 1px solid #999; 
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
h2 { font-size: 20px; margin: 0 0 6px 0; position: relative; }