<title>Jigglypuff </title>
</head>
<body>
    <div id="page-wrap">
        <h1>Jigglypuff <small style="color: rgb(95, 95, 95);"> (<a href="index.html"> POKEDEX.</a>) </small></h1>
        <link rel="stylesheet" href="style.css" />
        <link>  
        <img class="centrado" src="images/Jigglypuff.gif" >
        <dl class="clear"></dl>
            <dl>
            <dl class="clear"></dl>
                <dt>Descripcion</dt>
                    <dd>
                        <p>Su capacidad pulmonar es excepcional, incluso para un Pokémon. Es capaz de cantar nanas sin cesar hasta que su rival se duerma.</p>
                    </dd>
    
            <dl class="clear"></dl>
                <dt>Especificaciones</dt>
                    <dd>
                        <h2>ALTURA</h2>
                        <ul>
                            <li>0,5 m</li>
                        </ul> 
                        <h2>CATEGORIA</h2>
                        <ul>
                            <li>Globo</li>
                        </ul> 
                        <h2>PESO</h2>
                        <ul>
                            <li>5,5 kg</li>
                        </ul> 
                        <h2>HABILIDAD</h2>
                        <ul>
                            <li>Gran Encanto.</li>
                            <li>Tenacidad.</li>
                        </ul> 
                        <h2>SEXO</h2>
                        <ul>
                            <li>Hombre/Mujer</li>
                        </ul> 
                        <H2>DEBILIDAD</H2>
                        <ul>
                            <li>Acero</li>
                            <li>Veneno</li>
                        </ul> 
                    </dd>
                <dl class="clear"></dl>
                <h1>EVOLUCIONES<small style="color: rgb(95, 95, 95);"> (Igglybuff, Wigglytuff.) </small></h1>
            <dl class="clear"></dl>
        </div>
   
    <a href="jig.html"><img class="centrado" src="images/174.png" ></a>
    <a href="wigg.html"><img class="izquierdo" src="images/040.png" ></a>
    
</body>
</html>