<title>Pikachu  </title>
</head>
<body>
    <div id="page-wrap">
        <h1>Pikachu  <small style="color: rgb(95, 95, 95);"> (<a href="index.html"> POKEDEX.</a>) </small></h1>
        <link rel="stylesheet" href="style.css" />
        <link>  
        <img class="centrado" src="images/9fb125f1fedc8cc62ab5b20699ebd87d.gif" >
        <dl class="clear"></dl>
            <dl>
            <dl class="clear"></dl>
                <dt>Descripcion</dt>
                    <dd>
                        <p>Cuanto más potente es la energía eléctrica que genera este Pokémon, más suaves y elásticas se vuelven las bolsas de sus mejillas.</p>
                    </dd>
    
            <dl class="clear"></dl>
                <dt>Especificaciones</dt>
                    <dd>
                        <h2>ALTURA</h2>
                        <ul>
                            <li>0,4 m</li>
                        </ul> 
                        <h2>CATEGORIA</h2>
                        <ul>
                            <li>Raton</li>
                        </ul> 
                        <h2>PESO</h2>
                        <ul>
                            <li>6,0 kg</li>
                        </ul> 
                        <h2>HABILIDAD</h2>
                        <ul>
                            <li>Electricidad estatica.</li>
                        </ul> 
                        <h2>SEXO</h2>
                        <ul>
                            <li>Hombre/Mujer</li>
                        </ul> 
                        <H2>DEBILIDAD</H2>
                        <ul>
                            <li>Tierra</li>
                        </ul> 
                    </dd>
                <dl class="clear"></dl>
                <h1>EVOLUCIONES<small style="color: rgb(95, 95, 95);"> (Pichu, Raichu) </small></h1>
            <dl class="clear"></dl>
        </div>
   
    <a href="pi.html"><img class="centrado" src="images/172.png" ></a>
    <a href="rai.html"><img class="izquierdo" src="images/026.png" ></a>
    
</body>
</html>