<title>Raticate  </title>
</head>
<body>
    <div id="page-wrap">
        <h1>Raticate  <small style="color: rgb(95, 95, 95);"> (<a href="index.html"> POKEDEX.</a>) </small></h1>
        <link rel="stylesheet" href="style.css" />
        <link>  
        <img class="centrado" src="images/62d09753c8fa01d4fd9f0f503f25ad62.gif" >
        <dl class="clear"></dl>
            <dl>
            <dl class="clear"></dl>
                <dt>Descripcion</dt>
                    <dd>
                        <p>Gracias a las pequeñas membranas de las patas traseras, puede nadar por los ríos para capturar presas.</p>
                    </dd>
    
            <dl class="clear"></dl>
                <dt>Especificaciones</dt>
                    <dd>
                        <h2>ALTURA</h2>
                        <ul>
                            <li>0,7 m</li>
                        </ul> 
                        <h2>CATEGORIA</h2>
                        <ul>
                            <li>Raton</li>
                        </ul> 
                        <h2>PESO</h2>
                        <ul>
                            <li>18,5 kg</li>
                        </ul> 
                        <h2>HABILIDAD</h2>
                        <ul>
                            <li>Fuga.</li>
                            <li>Agua.</li>
                        </ul> 
                        <h2>SEXO</h2>
                        <ul>
                            <li>Hombre/Mujer</li>
                        </ul> 
                        <H2>DEBILIDAD</H2>
                        <ul>
                            <li>Lucha</li>
                        </ul> 
                    </dd>
                <dl class="clear"></dl>
                <h1>EVOLUCIONES<small style="color: rgb(95, 95, 95);"> (Rattata) </small></h1>
            <dl class="clear"></dl>
        </div>
   
    <a href="rat.html"><img class="centrado" src="images/Rattata.png" ></a>

    
</body>
</html>