<title>Sandslash   </title>
</head>
<body>
    <div id="page-wrap">
        <h1>Sandslash   <small style="color: rgb(95, 95, 95);"> (<a href="index.html"> POKEDEX.</a>) </small></h1>
        <link rel="stylesheet" href="style.css" />
        <link>  
        <img class="centrado" src="images/0b305a2bb6f2bb1d3ac51f079ca80690.gif" >
        <dl class="clear"></dl>
            <dl>
            <dl class="clear"></dl>
                <dt>Descripcion</dt>
                    <dd>
                        <p>Cuanto más seco es el terreno en el que habita, más duras y lisas se vuelven las púas que le recubren la espalda.</p>
                    </dd>
    
            <dl class="clear"></dl>
                <dt>Especificaciones</dt>
                    <dd>
                        <h2>ALTURA</h2>
                        <ul>
                            <li>1,0 m</li>
                        </ul> 
                        <h2>CATEGORIA</h2>
                        <ul>
                            <li>Raton</li>
                        </ul> 
                        <h2>PESO</h2>
                        <ul>
                            <li>29,5 kg</li>
                        </ul> 
                        <h2>HABILIDAD</h2>
                        <ul>
                            <li>Velo arena.</li>
                        </ul> 
                        <h2>SEXO</h2>
                        <ul>
                            <li>Hombre/Mujer</li>
                        </ul> 
                        <H2>DEBILIDAD</H2>
                        <ul>
                            <li>Agua</li>
                            <li>Piedra</li>
                            <li>Hielo</li>
                        </ul> 
                    </dd>
                <dl class="clear"></dl>
                <h1>EVOLUCIONES<small style="color: rgb(95, 95, 95);"> (Sandshrew) </small></h1>
            <dl class="clear"></dl>
        </div>
   
    <a href="sand.html"><img class="centrado" src="images/027.png" ></a>

    
</body>
</html>