* { margin: 0; padding: 0; }
body { font: 16px Helvetica, Sans-Serif; 
    line-height: 24px; 
    background-image: url("https://c.wallhere.com/photos/11/5f/Pok_mon_Pok_balls_anime_minimalism_cartoon_video_games_digital_art-1202761.jpg!d");
    background-repeat: repeat-y;
    }
.clear { 
    clear: both;
 }
#page-wrap { width: 700px; margin: 40px auto 60px; }
h1 { margin: 0 0 13px 0; padding: 0 0 13px 0; font-size: 35px; font-weight: bold; letter-spacing: -2px; border-bottom: 1px solid #999; }
h2 { font-size: 20px; margin: 0 0 6px 0; position: relative; }
h1 span { position: absolute; bottom: 0; right: 0; font-style: italic; font-family: Georgia, Serif; font-size: 16px; color: #999; font-weight: normal; }
p { margin: 0 0 16px 0; }
ul { margin: 0 0 32px 17px; }
dt { font-style: italic; 
    font-weight: bold; 
    font-size: 18px; 
    text-align: right; 
    padding: 0 26px 0 0; 
    width: 150px; float: left; 
    height: 100px; 
    border-right: 1px solid #999; 
    
     }
dd { width: 600px; 
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    line-height: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    max-width: 50%;
    max-height: 50%;
    padding: 20px 40px;

}
dl.clear { 
    float: none; 
    margin: 0; 
    height: 15px;
    width: 600px; 
 }
.centrado{
    margin:10px auto;
    display:block;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    line-height: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    max-width: 50%;
    max-height: 50%;
    padding: 20px 40px;

}
.derecho{
    float: right; 
    margin: -500px 0 0 0 ;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    line-height: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    max-width: 50%;
    max-height: 50%;
    padding: 20px 40px;
}
.izquierdo{
    float: left; 
    margin: -500px 0 0 0 ;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    line-height: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    max-width: 50%;
    max-height: 50%;
    padding: 20px 40px;
}
.container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .box {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    font-family: sans-serif;
    text-align: center;
    line-height: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    max-width: 50%;
    max-height: 50%;
    padding: 20px 40px;
  }
  